@import url(https://fonts.googleapis.com/css?family=Pacifico);
body {
  padding: 0 100px 100px;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

h1#header {
  text-align: center;
  padding: 50px;
  font-size: 62px;
  font-family: "Rakkas";
  text-shadow: 0 2px 2px #3c77b3;
}

.article-wrapper {
  -moz-transition: width 0.4s;
  -o-transition: width 0.4s;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
}

article {
  position: relative;
  padding-left: 180px;
  padding-right: 75px;
  height: 150px;
  margin-bottom: 30px;
  background-color: #FFF;
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  border-radius: 150px;
  cursor: pointer;
}
article .img-wrapper {
  position: absolute;
  top: -10px;
  left: -10px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  background-color: #CDE;
  padding: 10px;
  z-index: 1000;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
article .img-wrapper img {
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  width: 150px;
}
article h1 {
  height: 75px;
  line-height: 75px;
  font-size: 24px;
  border-bottom: 2px solid #CDE;
  color: #428bca;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
article p {
  color: #888;
}
article a {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  line-height: 150px;
  text-align: center;
  width: 100%;
  background-color: #FFF;
  font-size: 48px;
  font-style: italic;
  opacity: 0;
  color: #428bca !important;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  text-decoration: none !important;
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  border-radius: 150px;
  font-family: "Pacifico";
  text-shadow: 0 1px 1px #AAA;
}
article:hover .img-wrapper {
  padding: 5px;
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
}
article:hover .img-wrapper img {
  width: 160px;
}
article:hover a {
  opacity: 1;
}

.bloc article {
  padding: 10px;
  height: 225px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-top: 75px;
}
.bloc article .img-wrapper {
  position: relative;
  top: -85px;
  width: 170px;
  left: inherit;
  margin: auto;
  margin-bottom: -100px;
}
.bloc article h1 {
  font-size: 14px;
  height: 37.5px;
  line-height: 37.5px;
}
.bloc article p {
  font-size: 12px;
}
.bloc article a {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  line-height: 255px;
}
